<!DOCTYPE html>
<html>

<head>
    <title>AFTER SCHOOL LESSONS</title>
    <!-- <script src="./vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <!-- Header -->
        <div class="container">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-if="cart.length > 0" @click='showCheckout'> {{cart.length}} <span
                        class="fas fa-cart-plus"></span>Checkout</button>
            </header>
        </div>
        <hr>
        <!-- Body -->
        <div class="container">
            <div class="root">
                <aside>
                    <h4>Sorted by</h4>
                    <ul>
                        <li><button @click="type = 'subject'">Subject</button></li>
                        <li><button @click="type = 'location'">Location</button></li>
                        <li><button @click="type = 'price'">Price</button></li>
                    </ul>
                </aside>
                <main>
                    <div v-if='!showProduct'>
                        <div class="title-bar">
                            <h1>Lessons</h1>
                            <select v-model="sort" id="sortby">
                                <option value="ascending">Ascending</option>
                                <option value="descending">Descending</option>
                            </select>
                        </div>
                        <hr>
                        <div class="lessons">
                            <div v-for="(lessons, index) in sortedLessons" :key="`lesson--${index}`"
                                class="lessons__item">
                                <h2>id #{{lessons.id}}</h2>
                                <figure><img v-bind:src="lessons.image"></figure>
                                <p>Subject: {{ lessons.subject }}</p>
                                <p>Location: {{ lessons.location }}</p>
                                <p>Price: {{ lessons.price }}</p>
                                <p>Spaces: {{lessons.availableInventory}}</p>
                                <button v-on:click='addToCart(lessons)' :disabled="!lessons.availableInventory">Add to
                                    cart</button>
                                <span v-if="lessons.availableInventory">{{'Left '+ lessons.availableInventory}}</span>
                                <span v-else>All out!</span>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="container">
                            <div class="title-bar">
                                <button @click="showCheckout"><span class="fas fa-chevron-left"></span> Go back</button>
                                <h4>Total Amount: {{total}}</h4>
                            </div>
                            <h4>Cart List</h4>
                            <div class="cart">
                                <div class="cart__item">
                                    <div style="width: auto;">Image</div>
                                    <div>Subject</div>
                                    <div>Location</div>
                                    <div>Price</div>
                                    <div style="width: auto;">Action</div>
                                </div>
                                <hr style="width: 100%">
                                <div class="cart__item" v-for="(item, index) in cart" :key="`cart--${index}`">
                                    <div style="width: auto;"><img :src="item.image" alt=""></div>
                                    <div>{{item.subject}}</div>
                                    <div>{{item.location}}</div>
                                    <div>{{item.price}}</div>
                                    <div style="width: auto;"><button @click="removeToCart(item)"><i style="color:red;"
                                                class="fa fa-minus" aria-hidden="true"></i></button></div>
                                </div>
                                <div v-if="!cart.length > 0" class="cart__item"
                                    style="background-color: transparent; padding: 20px;">
                                    <div style="text-align: center; color: gray; font-size: 20px; font-weight: bold;">
                                        List Empty</div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h3>User Details</h3>
                                <form @submit.prevent="submit">
                                    <div>
                                        <label for="name">Name</label>
                                        <input v-model="user.name" type="text" required>
                                    </div>
                                    <div>
                                        <label for="name">Phone</label>
                                        <input v-model="user.number" type="tel" required>
                                    </div>
                                    <input type="submit" value="Checkout">
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- JS Files -->
    <script src="./data.js"></script>
    <script type="text/javascript">
        const webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Lessons',
                lessons: [],
                cart: [],
                showProduct: false,
                order: {
                    firstName: '',
                    lastName: '',
                },
                sort: 'ascending',
                type: '',
                user: {
                    name: '',
                    number: ''
                }
            },
            methods: {
                addToCart(lesson) {
                    this.lessons.find(item => item.id == lesson.id).availableInventory -= 1;
                    this.cart.push({ cartId: (this.cart.length + 1), ...lesson });
                },
                removeToCart(lesson) {
                    if (confirm('Do you want to delete this?')) {
                        this.cart = [...this.cart].filter(item => item.cartId != lesson.cartId)
                    }
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                submit() {
                    if (this.phonenumber(this.user.number)) {
                        alert('Order submited.')
                        console.log(this.user);
                    }
                },
                phonenumber(number) {
                    let phoneno = /^\d{10}$/;
                    if ((number.match(phoneno))) {
                        return true;
                    }
                    else {
                        alert("Phone number incorrect.");
                        return false;
                    }
                }

            },
            computed: {
                total() {
                    return this.cart.length > 0 ? this.cart.map(item => item.price).reduce((acc, cur) => acc + cur) : 0;
                },
                sortedLessons() {
                    switch (this.type) {
                        case 'subject':
                            return this.lessons.sort((a, b) => {
                                switch (this.sort) {
                                    case 'ascending':
                                        return a.subject.toUpperCase() > b.subject.toUpperCase() ? 1 : -1;
                                    default:
                                        return a.subject.toUpperCase() < b.subject.toUpperCase() ? 1 : -1;
                                }
                            })
                        case 'location':
                            return this.lessons.sort((a, b) => {
                                switch (this.sort) {
                                    case 'ascending':
                                        return a.location.toUpperCase() > b.location.toUpperCase() ? 1 : -1;
                                    default:
                                        return a.location.toUpperCase() < b.location.toUpperCase() ? 1 : -1;
                                }
                            })
                        case 'price':
                            return this.lessons.sort((a, b) => {
                                return this.sort == 'ascending' ? a.price - b.price : b.price - a.price;
                            })
                        case 'space':
                            return this.lessons.sort((a, b) => {
                                return this.sort == 'ascending' ? a.availableInventory - b.availableInventory : b.availableInventory - a.availableInventory;
                            })
                        default:
                            return this.lessons.sort((a, b) => {
                                return this.sort == 'ascending' ? a.id - b.id : b.id - a.id;
                            })
                    }
                }
            },
            created() {
                this.lessons = lessons
            }
        });
    </script>
</body>

</html>